@charset "utf-8";
/* CSS Document */

/****** SPLASH PAGE STYLES ***********/

#promotion {
	background-image:url('media/gallery/manatee.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	padding:0;
	height:auto;
	min-height:1200px;
}

#splashheader {
	margin-bottom:0;
	padding-bottom:0;
	height:auto;
}

/******************PAGE LOAD STYLES***********/

#container-fluid {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    background-image: url("media/loading/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/**************** ARTIST SIGNATURE STYLES **********/

.signature {
	font-family: gruppo, sans-serif;
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:1.3em;
}


	
	/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	#promotion {
		min-height:900px;
	}
}