@charset "utf-8";
/* CSS Document */


/*** color pallette  **********************

Color Pallette:
	A (30,255,135) #1eff87 – darkest color
	B (77,232,179) #4de8b3
	C (97,255,230) #61ffe6 – main color 
	D (31,226,232) #1fe2e8
	E (193,242,255) #c1f2ff – light color
*/

/**************************** COLOR STYLES ************************************/

body,header,nav,.jumbotron,.page-content .card,.page-content .card-header,.page-content .card-footer,.page-content{
	background-color: #ffffff;
}

.navbar-nav {
	background-color: rgba(255,255,255,1.0);
}

h1, h2, h3, h4 {
	color: #4de8b3;
}

h5, h6 {
	color:#1eff87;
}

.btn-info {
	background-color:#4de8b3;
	border-color:#4de8b3;
}

.btn-info:hover {
	border-color:#4de8b3;
	background-color:#1eff87;
}

.btn-outline-primary {
	border-color:#c1f2ff;
}


/**************************** HEADING TAG STYLES *********************************/





/***************************** LINK STYLES ************************************/
a {
	text-decoration:none;
	color:#1fe2e8;
	font-weight:500;
}

a:hover {
	text-decoration:none;
	color:#4de8b3;
}

/***************************** BUTTON STYLES *********************************/



/***************************** HEADER STYLES ******************************/

header .jumbotron {
	margin:0;
	padding:0;
}

header .jumbotron img {
	max-width:90%;
	margin-left:5%;
	visibility:hidden;
}



/***************************** FOOTER STYLES *******************************/


footer .list-group-item {
	border:none;
	margin:0;
	padding:0;
}

footer .list-group {
	margin-bottom:8%;
	margin-top:6%;
}

footer p {
	font-size:0.8em;
	margin-bottom:0;
}

/****************************** CARD STYLES ********************************/

.card{
	border:none;
	margin-bottom:5%;
}

.card p {
	top:50%;
}

.card a {
	z-index:99;
}

.card .btn {
	position:absolute;
	top:80%;
	left:25%;
}


.card-header, .card-footer {
	border:none;
}

.card-body img {
	border-radius:10px;
	width:100%;
}

.card-img-overlay, .card .container, .card-body, .container-fluid {
	padding:0;
}


/**************************** NAVIGATION STYLES ***************************/

.navbar-nav {
	text-align: center;
}

/**************************** CONTACT US FORM *****************************/

form {
	text-shadow: 0px 1px 1px #000;
	background: #d8e7ff;
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.2), 0 2px 20px -3px rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding:5%;
	display: inline-block;
	z-index: 2100;
}


.form-control:focus{
	border-color: #ffffff;  box-shadow: none; -webkit-box-shadow: none;
	border-width: 1px;
} 
	
.has-error .form-control:focus{
	box-shadow: none; -webkit-box-shadow: none;
}

input[type=text], input[type=email], select {
    margin:1%;
	margin-top:8%;
    padding: 8px 10px;
    display: inline-block;
    box-shadow: 3px 3px 3px  #aaa;
    border-radius: 10px;
}

/************************* ANIMATION DELAYS **********************************/

.delay-1 {
	animation-delay:.25s;
}

.delay-2 {
	animation-delay:.5s;
}

.delay-3 {
	animation-delay:.75s;
}

.delay-4 {
	animation-delay:1s;
}

.delay-5 {
	animation-delay:1.25s;
}

.delay-6 {
	animation-delay:1.5s;
}

.delay-7 {
	animation-delay:1.75s;
}

.delay-8 {
	animation-delay:2s;
}

/*********************************** LIGHTBOX STYLES *************************************/

.lightbox {
	position:fixed;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:20;
}

.lightbox img {
	width:60%;
	max-height:100%;
	margin-left:2%;
}

.lightbox p {
	width:30%;
	color:#ffffff;
	margin-left:2%;
	display:inline-block;
}

.close {
	color:#ffffff;
	font-size:3.0em;
}

.close:hover {
	color: #ffffff;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.jumbotron-fluid img {
		
	}
	
	.jumbotron {
		
	}

	.navbar-collapse li {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
    .card {
		width:45%;
		display:inline-block;
	}
	
	footer .card {
		width:100%;
		padding-top:0%;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}






